<?xml version="1.0"?>
<robot name="ensenso_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ensenso_description)/ensenso.xacro" />

  <xacro:property name="camera_name" default="N35" />
  <xacro:ensenso_N3x_Series name="${camera_name}" />
  <joint name="world_to_${camera_name}" type="fixed">
    <parent link="base_link" />
    <child link="${camera_name}" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="base_link" />
</robot>
<!-- example usage with: 
  roslaunch urdf_tutorial display.launch model:=`rospack find ensenso_description`/ensenso_N3x_Series.xacro gui:=true
-->